<div>
  <div class="footer-container">
    <div class="footer-leftsection">
      <div>
        <div>
          <p class="footer-para"><b>
              Subscribe to our Newsletters</b>
          </p>
        </div>
        <div><input type="text" class="footer-email" placeholder="Enter Email Id" /><button type="text"
            class="tender-email-button"><b>Subscribe now</b></button></div>
      </div>
      <div class="display-flex-align-end">
        <div>
          <ul class="footer-ul">
            <li class="footer-li">
              <h4 class="footer-About-Us">ABOUT US</h4>
            </li>

            <li class="footer-li">Establishment</li>
            <li class="footer-li">Our Mission</li>
            <li class="footer-li">Our Vision</li>
            <li class="footer-li">Members</li>
          </ul>
        </div>
        <div>

          <ul class="footer-ul padding40px">
            <li class="footer-li">
              <h4 class="footer-hyperlink">Important Links</h4>
            </li>
            <li class="footer-li">Annual Reports</li>
            <li class="footer-li">Circulars</li>
            <li class="footer-li">Governing Councils</li>
            <li class="footer-li"> Governing Councils Decisions</li>
          </ul>
        </div>
        <div class="verticle-line"></div>
        <div>
          <div>
            <ul class="footer-ul footer-align-item">
              <li class="footer-li">Disclosures</li>
              <li class="footer-li">Disclaimer</li>
              <li class="footer-li"> Privacy Policy</li>
              <li class="footer-li"> Help</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="display-flex-justify-between">
        <div class="text-align-left">
          <p class="footer-p"><b>This is the official website of Vidarbha Irrigation Development corporation</b></p>
        </div>
        <div class="text-align-right footer-p1">
          <p><b>Powered by</b></p>
          <p>Webwerks Pvt Ltd</p>
        </div>
      </div>
    </div>
    <div class="footer-rightsection">
      <div>
        <div class="display-flex-align-item-center footer-wraper-class">
          <div>
            <img src="../../assets/public/Group 212@1X.png" alt="alt" />
          </div>
        </div>
        <hr class="footer-hr">
        <div class="display-flex-align-item-center footer-wraper-class">
          <div>
            <img src="../../assets/public/CallUs.png" alt="alt" />
          </div>
        </div>
        <hr class="footer-hr">
        <div class="display-flex-align-item-center footer-wraper-class">
          <div>
            <img src="../../assets/public/EmailUs.png" alt="alt" />
          </div>
        </div>
      </div>
      <div class="nav-follow-alignment">
        <div class="nav-follow">Follow Us</div>
        <div>
          <img src="../../assets/public/nav-follow.png" />
        </div>
      </div>
    </div>
  </div>
</div>