
<div class="container">
  <div class="heading-container">
    <div class="heading-main">
      <h1>ABOUT US</h1>
    </div>
    <div class="heading-sub">
      <h3>About Us</h3>
    </div>
  </div>
  <div class="about-para">
    <p class="about-paragraph">Lorem Ipsum is simply dummy text of the printing and
      typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since
      the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      It has servived not only five centuries, but also the leap into electronic typesetting.</p>
  </div>

  <div class="about-btn">
    <button type="button" class="about-Know-More">KNOW MORE</button>
  </div>

</div>