<div class="latest-news-wrapper">
  <div>
    <div class="heading-container">
      <div class="heading-main">
        <h1 class="news-heading1">News</h1>
      </div>
      <div class="heading-sub">
        <h3 class="news-heading3">Latest news</h3>
      </div>
    </div>
  </div>
  <div class="display-flex">
    <div class="image-caption-wrapper">
      <div class="image-container1">
        <img src="../../assets/public/Jayekwadi-dam.jpg" class="news-img1" alt="Image not supported" />
      </div>
      <div class="caption-container1">
        <h3 class="font-style">Jayakwadi dam’s 16 gates opened, discharge at 35,630 cusec</h3>
        <p class="font-style-para">On Wednesday, four gates of the Jayakwadi dam, one of the biggest dams in the state
          known as the</p>
      </div>
      <div class="calendar-container1">
        <h1>21</h1>
        <div>
          <p class="news-marging-padding">AUG</p>
          <p class="news-marging-padding">2019</p>
        </div>
      </div>
    </div>
    <div class="image-caption-wrapper">
      <div class="image-container2">
        <img src="../../assets/public/full-Krishna.jpg" class="news-img2" alt="Image not supported" />
      </div>
      <div class="caption-container2">
        <h3 class="font-style">Jayakwadi dam’s 16 gates opened, discharge at 35,630 cusec</h3>
        <p class="font-style-para">On Wednesday, four gates of the Jayakwadi dam, one of the biggest dams in the state
          known as the</p>
      </div>
      <div class="calendar-container2">
        <h2>21</h2>
        <div>
          <p class="news-marging-padding">AUG</p>
          <p class="news-marging-padding">2019</p>
        </div>
      </div>
    </div>
    <div class="image-caption-wrapper">
      <div class="image-container3">
        <img src="../../assets/public/krishna-godawari" class="news-img3" alt="Image not supported" />
      </div>
      <div class="caption-container3">
        <h3 class="font-style">Jayakwadi dam’s 16 gates opened, discharge at 35,630 cusec</h3>
        <p class="font-style-para">On Wednesday, four gates of the Jayakwadi dam, one of the biggest dams in the state
          known as the</p>
      </div>
      <div class="calendar-container3">
        <h3>21</h3>
        <div>
          <p class="news-marging-padding">AUG</p>
          <p class="news-marging-padding">2019</p>
        </div>
      </div>
    </div>
  </div>
</div>