<div>
  <div class="heading-container">
    <div class="heading-main">
      <h1>SERVICES</h1>
    </div>
    <div class="heading-sub">
      <h3>Service</h3>
    </div>

  </div>
  <div class="services-container">
    <div class="flex-item">
      <img src="../../assets/public/Hydro.png" alt="Image is not supporting">
      <p class="service-para">Hydro irrigation</p>
    </div>

    <div class="flex-item">
      <img src="../../assets/public/Hydro Electronic.png" alt="Image is not supporting"
        class="service-hydro-electronic">
      <p class="service-para">Hydro Electronic</p>
    </div>

    <div class="flex-item">
      <img src="../../assets/public/Agriculture development.png" alt="Image is not supporting"
        class="service-agricultural-development">
      <p class="service-para">Agricultural development</p>
    </div>

    <div class="flex-item">
      <img src="../../assets/public/Agricultural.png" alt="Image is not supporting">
      <p class="service-para">Agricultural development</p>
    </div>

    <div class="flex-item">
      <img src="../../assets/public/Spericular.png" alt="Image is not supporting">
      <p class="service-para">Sprinkler irrigation</p>
    </div>
  </div>


  <div class="service-btn">
    <button type="button" class="service-Know-More">KNOW MORE</button>
  </div>
</div>