<div class="nav-header">
  <div class="nav-mid">
    <img src="../../assets/public/download.jpg" alt="../../assets/public/download.jpg" class="logo">
    <p class="headerStatement"><b>Godavari Marathwada Irrigation Development Corporation</b></p>
  </div>
  <div>
    <ul class="nav-height nav-marginT25 nav-background-tranparent">
      <li><a href="#Aboutus">About Us</a></li>
      <li><a href="#Tenders">Tenders</a></li>
      <li class="dropdown">
        <button class="dropbtn">Knowledge Center
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a class="dropdown-border-right" href="#">Annual Reports</a>
          <a class="dropdown-border-right" href="#">Circulars</a>
          <a class="dropdown-border-right" href="#">Disclosures </a>
          <a class="dropdown-border-right" href="#">Governing Councils </a>
          <a href="#">Governing Councils Decisions</a>
        </div>
      </li>

    </ul>
  </div>
  <div class="nav-last ">
    <ul class="nav-background-tranparent">
      <li><a href="#"><b>A-</b></a></li>
      <li><a href="#"><b>A</b></a></li>
      <li><a href="#"><b>A+</b></a></li>
      <!-- <li class="nav-vl"></li> -->
    </ul>
    <div>
      <select name="EN" id="EN">
        <option value="volvo">EN</option>
        <option value="1">English</option>
        <option value="2">UK</option>
        <option value="3">US</option>
      </select>
    </div>

    <div>
      <img src="../../assets/public/dot1.png" alt="image not supported" />
      <img src="../../assets/public/dot2.png" alt="image not supported" />
      <img src="../../assets/public/dot3.png" alt="image not supported" />

    </div>
    <div>
      <img src="../../assets/public/search-icon.svg" class="nav-icon-search" alt="image not supported" />
    </div>
  </div>
</div>