<div class="card-wrapper">
  <div class="tenders-main">
    <h1>Tenders</h1>
  </div>
  <div class="tenders-sub">
    <h3>Tenders</h3>
  </div>
  <div class="card-container">
    <div class="card terder-img1">
      <div class="card-heading"><b>Tender 1</b><br>Tender For Construction Of Part L And Lll L.D. Works In Chak Ol-10,
        Ol-11, Ol-12, Ol-13, Ol-14 Tail Right Distributor No.2/Karkheli Branch Canal/ Irbc/ Upp</div>
      <div class="card-image"><img src="../../assets/public/images.jpg" alt="1" class="tenders-constrution-Img"></div>
    </div>
    <div class="card terder-img2">
      <div class="card-heading "><b>Tender 2</b><br>Tender For Construction Of Part I And Iii Ld Works In Chak Or-8,
        R-Tail, Sm-Tail On Rm-1/ Right Distributory No.1/Karkheli Branch Canal/ Irbc/ Upp</div>
      <div class="card-image"><img src="../../assets/public/dam.jpg" alt="1" class="tenders-constrution-Img"></div>
    </div>

    <div class="card terder-img3">
      <div class="card-heading "><b>Tender 3</b><br>Tender For Construction Of Part I And Iii Ld Works In Chak Ol 3,
        Ol-4, Ol 5, Ol 6 And Or-5 On Tail Minor On Pangari Dy. Of/Irbc/ Upp</div>
      <div class="card-image"><img src="../../assets/public/tender-dam.jpg" alt="1" class="tenders-constrution-Img">
      </div>
    </div>
    <div class="card terder-img4">
      <div class="card-heading "><b>Tender 4</b><br>Tender For Excruciating Construction And Remaining Work</div>
      <div class="card-image"><img src="../../assets/public/tender-river.jpg" alt="1" class="tenders-constrution-Img">
      </div>
    </div>
  </div>

  <div class="about-btn tender-margin">
    <button type="button" class="about-Know-More">View ALI</button>
  </div>

</div>